<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head><title>Change password</title></head>
<body>
<main>
    <article class="card card--auth">
        <hgroup>
            <h1>Change your password</h1>
            <p>You must change your password before continuing.</p>
        </hgroup>
        <p class="form-error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
        <form method="post" th:action="@{'/t/' + ${slug} + '/change-password'}" class="stack">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label>
                New password
                <input type="password" name="newPassword" autofocus required/>
            </label>
            <label>
                Confirm password
                <input type="password" name="confirmPassword" required/>
            </label>
            <button type="submit" class="btn--block">Change password</button>
        </form>
    </article>
</main>
</body>
</html>
