<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Change Password</title></head>
<body>
<h1>You must change your password before continuing</h1>

<div th:if="${errorMessage}" th:text="${errorMessage}"></div>

<form method="post" th:action="@{'/t/' + ${slug} + '/change-password'}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div>
        <label>New password <input type="password" name="newPassword" minlength="8" autofocus required/></label>
    </div>
    <div>
        <label>Confirm password <input type="password" name="confirmPassword" required/></label>
    </div>
    <button type="submit">Change password</button>
</form>
</body>
</html>
