<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head><title>Sign in</title></head>
<body>
<main>
    <article class="card card--auth">
        <hgroup>
            <h1>Sign in</h1>
            <p th:if="${tenantName}" th:text="${tenantName}">Tenant</p>
        </hgroup>
        <form method="post" th:action="@{/t/{slug}/login(slug=${tenantSlug})}" class="stack">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label>
                Email
                <input type="email" name="email" autofocus required/>
            </label>
            <label>
                Password
                <input type="password" name="password" required/>
            </label>
            <label>
                <input type="checkbox" name="remember-me"/>
                Remember me for 14 days
            </label>
            <button type="submit" class="btn--block" data-test-action="login-submit">Sign in</button>
        </form>
    </article>
</main>
</body>
</html>
