<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Sign in</title></head>
<body>
<form method="post" th:action="@{/t/{slug}/login(slug=${tenantSlug})}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div><label>Username <input type="text" name="username" autofocus required/></label></div>
    <div><label>Password <input type="password" name="password" required/></label></div>
    <div><label><input type="checkbox" name="remember-me"/> Remember me for 14 days</label></div>
    <button type="submit">Sign in</button>
</form>
</body>
</html>
